<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.app.controllers.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.app.controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReceiptServlet</servlet-name>
  	<display-name>ReceiptServlet</display-name>
  	<description></description>
  	<servlet-class>com.app.controllers.ReceiptServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ComplaintServlet</servlet-name>
  	<display-name>ComplaintServlet</display-name>
  	<description></description>
  	<servlet-class>com.app.controllers.ComplaintServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.app.controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RentsServlet</servlet-name>
  	<display-name>RentsServlet</display-name>
  	<description></description>
  	<servlet-class>com.app.controllers.RentsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserupdateServlet</servlet-name>
  	<display-name>UserupdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.app.controllers.UserupdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserDeleteServlet</servlet-name>
  	<display-name>UserDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.app.controllers.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberDeleteServlet</servlet-name>
  	<display-name>MemberDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.app.controllers.MemberDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddMemberServlet</servlet-name>
  	<display-name>AddMemberServlet</display-name>
  	<description></description>
  	<servlet-class>com.app.controllers.AddMemberServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ElectricityServlet</servlet-name>
  	<display-name>ElectricityServlet</display-name>
  	<description></description>
  	<servlet-class>com.app.controllers.ElectricityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateFeesServlet</servlet-name>
  	<display-name>UpdateFeesServlet</display-name>
  	<description></description>
  	<servlet-class>com.app.controllers.UpdateFeesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NoticeServlet</servlet-name>
  	<display-name>NoticeServlet</display-name>
  	<description></description>
  	<servlet-class>com.app.controllers.NoticeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommentServlet</servlet-name>
  	<display-name>CommentServlet</display-name>
  	<description></description>
  	<servlet-class>com.app.controllers.CommentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletePostServlet</servlet-name>
  	<display-name>DeletePostServlet</display-name>
  	<description></description>
  	<servlet-class>com.app.controllers.DeletePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReceiptServlet</servlet-name>
  	<url-pattern>/receipt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComplaintServlet</servlet-name>
  	<url-pattern>/complaint</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RentsServlet</servlet-name>
  	<url-pattern>/rents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserupdateServlet</servlet-name>
  	<url-pattern>/userupdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserDeleteServlet</servlet-name>
  	<url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberDeleteServlet</servlet-name>
  	<url-pattern>/deletemember</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMemberServlet</servlet-name>
  	<url-pattern>/addmember</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ElectricityServlet</servlet-name>
  	<url-pattern>/electricity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateFeesServlet</servlet-name>
  	<url-pattern>/updatefees</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NoticeServlet</servlet-name>
  	<url-pattern>/createnotice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommentServlet</servlet-name>
  	<url-pattern>/addcomment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletePostServlet</servlet-name>
  	<url-pattern>/deletepost</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list><welcome-file>login.jsp</welcome-file></welcome-file-list>
</web-app>
